::ng-deep .mat-focused .mat-form-field-label {
 /*change color of label*/
 color: #EAC435 !important;
}


::ng-deep.mat-form-field-underline {
 /*change color of underline*/
 background-color: #EAC435 !important;
}

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: #EAC435 !important;
}

.input {
    color: #EAC435;
}
